<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555331092306-um1ebvt9rpnm1acav6j4b7chi3kvouc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555331092306-um1ebvt9rpnm1acav6j4b7chi3kvouc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBr-PvXO_04Tn-dwHWBUfzrZ-uTuBd9b_4</string>
	<key>GCM_SENDER_ID</key>
	<string>555331092306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskivate.ios</string>
	<key>PROJECT_ID</key>
	<string>taskivate</string>
	<key>STORAGE_BUCKET</key>
	<string>taskivate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555331092306:ios:06e934f6148d775c</string>
	<key>DATABASE_URL</key>
	<string>https://taskivate.firebaseio.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb230870967454365</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>230870967454365</string>
    <key>FacebookDisplayName</key>
    <string>taskivate</string>
</dict>
</plist>
